@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Register";
}

<h2>Deze pagina zal worden gebruikt om te registreren</h2>

<p>hopelijk gaaat dit werken.</p>

<h2>Selecteer hier of u wilt registreren als Oudere of als Student</h2>

<button type ="button" onclick="location.href='@Url.Action("Ouder", "Register")'">Ouder</button>

<button type="button" onclick="location.href='@Url.Action("Student", "Register")'">Student</button>
