@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}

<h2>Hier moet ik natuurlijk dan wel wat tekst neerzetten toch.</h2>

<p>Ik had iets eerder moeten beginnen aan dit :^)</p>
