@{
    Layout = "~/Views/Shared/_LayoutLoggedInStudent.cshtml";
}


@model KillerAppSE2.ViewModel.RegisterViewModelStudent


<h2>hoi @Html.ViewData.Model.Student.initialen @Html.ViewData.Model.Student.achternaam</h2>


